002. Web Page Designing/students.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (rollNumber, name, marks+, totalMarks, percentage)>
<!ELEMENT rollNumber (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT marks (subject, obtained)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT obtained (#PCDATA)>
<!ELEMENT totalMarks (#PCDATA)>
<!ELEMENT percentage (#PCDATA)>